body{
	margin:0;
	font-family: 'Source Sans Pro', sans-serif;
	background: #fff;  
}
body a{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration:none;
	outline:none;
}
.text-gray{
    color: rgba(146, 146, 146, 0.966);
}
h1,h2,h3,h4,h5,h6{
	margin:0;

	font-family: 'Arapey', serif;
}
p{
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
body a:focus {
    outline: none;
	text-decoration:none;
}
/* **** */
.callbacks_container{
    position: relative;
    float: left;
    width: 100%;
}
.rslide{
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
}
.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display:none;
    width: 100%;
    left: 0;
    top: 0;
  }
  .rslides li{
    position: relative;
    display: block;
    float: left;
  }
  .rslides img {
    height: auto;
    border: 0;
    }
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.title-banner h3 {
    color: #fff;
    font-size: 4em;
    margin: 0;
    letter-spacing: 13px;
    text-transform: uppercase;
    font-weight: 400;
}
.title-banner h3 span{
	    background: #168eea;
    padding: 0 15px;
}
.title-banner {
    text-align: center;
    padding:22em 0 0em;
}
.title-banner p {
    color: #168eea;
    font-size: 1em;
    line-height: 1.8em;
    letter-spacing: 10px;
    background: rgba(0, 0, 0, 0.72);
    margin: 2em auto;
    width: 57%;
}
.w3layouts-banner-top{
    background: url(../images/1.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;
	min-height:780px;
}
.w3layouts-banner-top1{
    background: url(../images/2.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;
	min-height:780px;
}
.w3layouts-banner-top2{
    background: url(../images/3.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;
	min-height:780px;
}
.callbacks_tabs{
    list-style: none;
    position: absolute;
    top: 46%;
    left: 13%;
    padding: 0;
    margin: 0;
    display: block;
       z-index: 99;
}
.callbacks_tabs{
    display: block;
    margin: 2px 0;
}
.callbacks_tabs a{
    visibility: hidden;
}
.learn-more-hover{
    position: relative;
}
.learn-more-hover a:hover::after{
    transform: scale3d(1, 1, 1);
    transition-delay: 0s;
}
.learn-more-hover a::after{
    background: rgb(22, 142, 234);
    transform: scale3d(0, 1, 1);
    transform-origin: left center;
    transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1) 0s;
}
.learn-more-hover a{
    font-size: 17px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    position: relative;
}
.learn-more-hover a::before{
    content: '';
    width: 80px;
    height: 2px;
    top: 13px;
    left:16rem;
    position: absolute;
    transition: 1s all;
    background-color: #fff;
}

nav.navbar.navbar-default.navbar-fixed-top {
    background: rgba(0, 0, 0, 0.65);
    z-index: 9999;
    padding: 14px;
    transition: all 0.5s ease 0s;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 1.1em;
    font-weight: 400;
    letter-spacing: 1px;
}
.navbar-default {
    background-color: #f8f8f8;
    border-color: transparent !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: rgb(255, 255, 255);
    background-color: rgb(22, 142, 234);
}

nav.navbar.navbar-default.navbar-fixed-top.top-nav-collapse {
    padding: 0;
    background: rgba(0, 0, 0, 0.75);
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px!important;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 46px;
    line-height: 20px;
    color: white;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #ffffff;
    /* background-color: transparent; */
}
.navbar-default .navbar-brand {
    color: #ffffff;
}
.navbar-nav > li > a {
    padding-top: 10px; 
    padding-bottom: 10px; 
}
.navbar-default .navbar-nav > li > a:hover{
    color: rgb(52, 129, 218);
    background-color: transparent;
}

.button-down-event{
    position: absolute;
    top: 62rem;
    right: 50%;
    z-index: 100;
    animation: 2s ease-in-out 0s infinite normal none running bounce;
}
.button-down-status{
    font-size: 25px;
    border: 2px dashed #fff;
    padding: 20px 10px;
    border-radius: 15px;
}
@keyframes bounce {
	0%, 20%, 60%, 100%  { -ms-transform: translateY(0); }
	0%, 20%, 60%, 100%  { -o-transform: translateY(0); }
	0%, 20%, 60%, 100%  { -moz-transform: translateY(0); }
	0%, 20%, 60%, 100%  { -webkit-transform: translateY(0); }
    40%  { -webkit-transform: translateY(-20px); }
	80% { -webkit-transform: translateY(-10px); }
}
.fa-long-arrow-down::before{
    content: "\f175";
}
.img-banner{
    position: relative;
}

/* about */
.about{
    position: relative;
}
.about-title{
    padding: 50px 30px;
}
.under-about-us{
    font-size: 18px;
    letter-spacing: 10px;
    font-family: 'Times New Roman', Times, serif;
}
.about-comment {
    line-height: 30px;
    font-size: 18px;
    letter-spacing: 2px;
}

/* particles - js */
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }
  #particles-js1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }
  #particles-js3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }


  /* CLASSES  */

  .classes-title{
      font-size: 42px;
  }
.classes-1{
    position: relative;
}
  .classes-hover-event{
    position: absolute;
    opacity: 0;
    background-color: rgb(22, 142, 234);
    color: white;
    top:100%;
    text-align: center;
    padding: 75% 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
  }
  .classes-1:hover .classes-hover-event{
    position: absolute;
    opacity: 1;
    background-color:rgb(22, 142, 234);
    color: white;
    top: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
  }
.margin-under{
    margin-bottom: 50px;
}
  /* plans */
  #plans{
    background: url(../images/1.jpg)no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
    position: relative; 
}
  .plans{
      
  }


  /* instructors */
  .instructors-hover{
      position: relative;
      width: 250px;
      height: 250px;
  }
  .instructors-hover:hover .img-instructors{
      width: 50%;
      border: 10px solid #ecc7c78a;
    border-radius: 50%;
    transition: 1s all;
  }
  .instructors-hover:hover .info-instructors{
    position: absolute;
    background-color: rgb(18, 154, 245);
    color: white;
    top: 0;
    left: 0;
    padding-top: 55%;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    z-index: -1;
     transition: 1s all;
  }
  .img-instructors-content{
    
  }
  .img-instructors{
    width: 100%;
    border: 20px solid #ecc7c78a;
    border-radius: 50%;
    transition: 1s all;
  }
  .info-instructors{
      position: absolute;
      background-color: rgb(18, 154, 245);
      color: white;
      top: 11%;
      left: 20%;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      z-index: -1;
      transition: 1s all;
  }
  .info-instructors a{
      color: white;
  }
  .info-instructors a:hover{
    color: rgb(194, 194, 194);
}

.lesson-hover{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 2px 1px;
    transition: all 0.5s ease 0s;
}
.lesson-hover:hover{
    transform: scale(1.1);
    z-index: 1;
}


/* gallery */
.gallery-hover{
    position: relative;
    background-color: #e4e4e4;
    overflow:hidden;
}

.happy-student{
    background: url(../images/3.jpg)no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
    position: relative;
    
}
.set-ul-gallery{

}
.img-gallery{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.callbacks_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    top: 55%;
    left: 40px;
    opacity: 0.7;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height: 34px;
    width: 34px;
    background: url(../images/left.png) 0px 0px no-repeat;
}
.callbacks_nav.next {
    left: auto;
    background: url(../images/right.png) 0px 0px no-repeat;
    right: 41px;
}
.happy-student .callbacks_container ul{
    
    background-color: rgba(0, 0, 0, 0.267);
    border-radius: 5px;
    box-shadow: 0 2px 10px;
    border-bottom: 5px solid rgb(0, 153, 255);
}
.responsive-iframe1{
    width: 100%;
    height: 400px;
}
.map-to-contact{
    height: 400px;
}
.email-to-contact{
    background-color: black;
    padding: 20px 50px;
    height: 100px;
}
.address-phone{
    height: 300px;
}


.contact{
    background: url(../images/contact.jpg)no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
    position: relative;
    
}

.set-input-contact{
    padding: 15px;
    background-color: rgba(128, 128, 128, 0.26);
    border: 1px solid #80808040;
    width: 100%;
    outline: none;
    color: white;
}

.textarea-contact{
    padding: 15px;
    background-color: rgba(128, 128, 128, 0.26);
    border: 1px solid  #80808040;
    width: 100%;
    height: 190px;
    outline: none;
    color: white;
}
.set-btn-send{
    padding: 15px 25px;
    background-color: #168eea;
    border: 1px solid #168eea;
    outline: none;
    color: white;
}
.icon-contact{
    
}
.icon-face{
    border-radius: 50%;
    padding: 10px 14px;
    background-color: rgb(103, 136, 206);
}
.icon-twitter{
    border-radius: 50%;
    padding: 10px 12px;
    background-color: rgb(51, 204, 255);
}
.icon-pin{
    border-radius: 50%;
    padding: 10px 12px;
    background-color: rgb(254, 68, 69);
}
.icon-drib{
    border-radius: 50%;
    padding: 10px 12px;
    background-color: rgb(248, 89, 147);
}
.icon-google{
    border-radius: 50%;
    padding: 10px 9px;
    background-color: rgb(221, 75, 57);
}
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom:1%;
	right: 3%;
	overflow: hidden;
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url("../images/move-up.png") no-repeat 0px 0px;
}