body{
	margin:0;
	font-family: 'Source Sans Pro', sans-serif;
	background: #fff;  
}
body a{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration:none;
	outline:none;
}
h1,h2,h3,h4,h5,h6{
	margin:0;

	font-family: 'Arapey', serif;
}
p{
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
body a:focus {
    outline: none;
	text-decoration:none;
}
/* **** */
.callbacks_container{
    position: relative;
    float: left;
    width: 100%;
}
.rslide{
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
}
.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display:none;
    width: 100%;
    left: 0;
    top: 0;
  }
  .rslides li{
    position: relative;
    display: block;
    float: left;
  }
  .rslides img {
    height: auto;
    border: 0;
    }
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.title-banner h3 {
    color: #fff;
    font-size: 4em;
    margin: 0;
    letter-spacing: 13px;
    text-transform: uppercase;
    font-weight: 400;
}
.title-banner h3 span{
	    background: #168eea;
    padding: 0 15px;
}
.title-banner {
    text-align: center;
    padding:22em 0 0em;
}
.title-banner p {
    color: #168eea;
    font-size: 1em;
    line-height: 1.8em;
    letter-spacing: 10px;
    background: rgba(0, 0, 0, 0.72);
    margin: 2em auto;
    width: 57%;
}
.w3layouts-banner-top{
    background: url(../images/1.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;
	min-height:780px;
}
.w3layouts-banner-top1{
    background: url(../images/2.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;
	min-height:780px;
}
.w3layouts-banner-top2{
    background: url(../images/3.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;
	min-height:780px;
}
.callbacks_tabs{
    list-style: none;
    position: absolute;
    top: 46%;
    left: 13%;
    padding: 0;
    margin: 0;
    display: block;
       z-index: 99;
}
.callbacks_tabs{
    display: block;
    margin: 2px 0;
}
.callbacks_tabs a{
    visibility: hidden;
}
.learn-more-hover{
    position: relative;
}
.learn-more-hover a:hover::after{
    transform: scale3d(1, 1, 1);
    transition-delay: 0s;
}
.learn-more-hover a::after{
    background: rgb(22, 142, 234);
    transform: scale3d(0, 1, 1);
    transform-origin: left center;
    transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1) 0s;
}
.learn-more-hover a{
    font-size: 17px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    position: relative;
}
.learn-more-hover a::before{
    content: '';
    width: 80px;
    height: 2px;
    top: 13px;
    left:16rem;
    position: absolute;
    transition: 1s all;
    background-color: #fff;
}

nav.navbar.navbar-default.navbar-fixed-top {
    background: rgba(0, 0, 0, 0.65);
    z-index: 9999;
    padding: 14px;
    transition: all 0.5s ease 0s;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 1.1em;
    font-weight: 400;
    letter-spacing: 1px;
}
.navbar-default {
    background-color: #f8f8f8;
    border-color: transparent !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: rgb(255, 255, 255);
    background-color: rgb(22, 142, 234);
}

nav.navbar.navbar-default.navbar-fixed-top.top-nav-collapse {
    padding: 0;
    background: rgba(0, 0, 0, 0.75);
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px!important;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 46px;
    line-height: 20px;
    color: white;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #ffffff;
    /* background-color: transparent; */
}
.navbar-default .navbar-brand {
    color: #ffffff;
}
.navbar-nav > li > a {
    padding-top: 10px; 
    padding-bottom: 10px; 
}
.navbar-default .navbar-nav > li > a:hover{
    color: rgb(52, 129, 218);
    background-color: transparent;
}
.navbar-default .navbar-nav > li:active, .navbar-default .navbar-nav > li:focus{
    color: white;
    background-color:  rgb(52, 129, 218);
}
.button-down-event{
    position: absolute;
    top: 62rem;
    right: 50%;
    z-index: 100;
    animation: 2s ease-in-out 0s infinite normal none running bounce;
}
.button-down-status{
    font-size: 25px;
    border: 2px dashed #fff;
    padding: 20px 10px;
    border-radius: 15px;
}
@keyframes bounce {
	0%, 20%, 60%, 100%  { -ms-transform: translateY(0); }
	0%, 20%, 60%, 100%  { -o-transform: translateY(0); }
	0%, 20%, 60%, 100%  { -moz-transform: translateY(0); }
	0%, 20%, 60%, 100%  { -webkit-transform: translateY(0); }
    40%  { -webkit-transform: translateY(-20px); }
	80% { -webkit-transform: translateY(-10px); }
}
.fa-long-arrow-down::before{
    content: "\f175";
}
.img-banner{
    position: relative;
}

/* about */
.about{
    position: relative;
}
.about-title{
    padding: 50px 30px;
}
.under-about-us{
    font-size: 18px;
    letter-spacing: 10px;
    font-family: 'Times New Roman', Times, serif;
}
.about-comment {
    line-height: 30px;
    font-size: 18px;
    letter-spacing: 2px;
}

/* particles - js */
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }




  /* CLASSES  */

  .classes-title{
      font-size: 42px;
  }


  /* plans */
  #plans{
    background: url(../images/1.jpg)no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
    position: relative; 
}
  .plans{
      
  }