body {
    font-family: 'Roboto', sans-serif;
}

.divider {
    width: 150px;
    height: 1px;
    background: var(--primary);
}

.breadcrumb1 {
    margin-top: 56px;
    background: #f4f6f9;
}

.owl-nav {
    display: none;
}

ul li a {
    color: black;
}