body {}

.breadcrumb-content {
    margin-top: 56px;
    background: #f4f6f9;
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}

.main-content {
    width: 100%;
    height: 100%;
}

.main-content input {
    width: 60%;
}

.bg-dark {
    background-color: #9caab724 !important;
}

.cost-and-messange {
    float: right;
}

.list {
    border-right: 1px solid rgba(0, 0, 0, 0.425);
}

.list a {
    color: black;
    font-size: 20px
}

.list li {
    margin: 15px 20px;
}