body{

}
ul li{
    padding: 5px;
    list-style: none !important;
}
a{
    color: #9a9bae;
}
.set-li:hover{
    background-color: #2b2b41;
}
@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
  font-family: Roboto, sans-serif;
}

#chart1 {
  max-width: 650px;
  margin: 35px auto;
}

  .card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
   background-color: white;
   border: none;
}