
ul li{
    padding: 5px;
    list-style: none !important;
}
a{
    color: #9a9bae;
}
.set-li:hover{
    background-color: #2b2b41;
}
@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
  font-family: Roboto, sans-serif;
}
.btn-set{
  background-color: #9195eb79;
  color: #4d7cff;
}
.btn-set1{
  background-color: transparent;
  color: #9a9bae;
}
.btn-set1:hover{
  background-color: #c6c7e048;
  color: #109dfc;
}
.btn-set:hover{
  color: white;
  background-color: #109dfc;
}
#chart1 {
  max-width: 650px;
  margin: 35px auto;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
   background-color: white;
   border: none;
}
.table td, .table th {
  padding: .75rem;
  vertical-align: top;
  border-top: none;
}
.btn-shadows{
  transition: 0.3s;
}
.btn-shadows:hover{
  transition: 0.3s;
  box-shadow: 0px 9px 20px #91ff62;
}