body{
    margin:0;
	font-family: 'Roboto Condensed', sans-serif;
	background: #fff;
}
body a{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration:none;
}
.header-content{
	position: relative;
}
.slide-header{
	position: relative;
}
.logo-header{
	float: left;
}
.set-logo-header h1 a{
	font-size: 48px;
	text-decoration: none;
	color: white;	
	font-family: cursive;
}
.set-logo-header li a:hover{
	text-decoration: none;
	cursor: pointer;
	color: rgba(20, 168, 236, 0.815);
}
.banner{
	position: relative;
	background-image: url(../images/1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 770px;
	background-position: center;
}
.banner1{
	background-image: url(../images/2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.banner2{
	background-image: url(../images/3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.banner h3{
	color: white;
	font-family:cursive;
	margin: 0 auto;
	padding: 10em 0;
	width: 36%;
    font-size: 30px;
}
.header-nav{
	padding: 1.5em 0em;
	position: absolute;
	top: 0%;
    width:100%;
    z-index: 9;
}
.slide-header{
	position: relative;
}
.slideq{
	position: relative; 
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
}
.slideq li{
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	width: 100%;
	padding: 0;
	margin: 0;
}
.slideq li:first-child{
	position: relative;
	display: block;
	float: left;
}
.slideq li img{
	
	display: block;
	height: auto;
	float: left;
	width: 100%;
	border: 0;
}
.callback_nav{
	position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    top: 44%;
    left: 5%;
    z-index: 3;
    overflow: hidden;
    text-decoration: none;
    color: transparent !important;
    width: 35px;
    height: 47px;
    text-align: center;
}
.callback_nav:hover{
	color: transparent !important;
	transform: scale(1.5);
}
.callback_nav.next{
	right: 5%;
	left:auto;
}
.callback_nav:before{
	font-size: 5em;
    display: block;
    content: "\f104";
    font-family: FontAwesome;
    color: #fff;
    line-height: 0.6em;
}
.callback_nav.next:before{
	content: "\f105";
}

.icon-header{
	float: right;
	text-align: center;
	padding-top: 2em;
}
.bounce{
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	-o-animation: bounce 3s infinite;
	-ms-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
	animation-timing-function: ease;
}
.bounceIn{
	-webkit-animation-name: bounceIn;
  -ms-animation-name: bounceIn;
  -o-animation-name: bounceIn;
  -moz-animation-name: bounceIn;
  animation-name: bounceIn;
}
.set-icon-header{
	color: white;
	display: flex;
}
.set-icon-header a{
	color: white;
	width: 35px;
	font-size: 20px;
	height: 35px;
	border : 1px solid white;
	margin: 0 15px;
}
.set-icon-header a i.fa{
    margin-top: 7px;
}
.set-icon-header a:hover{
	color: rgb(255, 230, 0);
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius: 50%;
}
@-webkit-keyframes bounceIn {
	0% { 
	  -webkit-transform: scale(.8);
	  transform: scale(.8);
	}
  
	50% {
	  opacity: 1;
	  -webkit-transform: scale(1.05);
	  transform: scale(1.05);
	}
  
	70% {
	  -webkit-transform: scale(.9);
	  transform: scale(.9);
	}
  
	100% {
	  opacity: 1;
	  -webkit-transform: scale(.8);
	  transform: scale(.8);
	}
  }
  
  @keyframes bounceIn {
	0% { 
	  opacity: 1;
	  -webkit-transform: scale(.8);
	  -ms-transform: scale(.8);
	  -o-transform: scale(.8);
	  -moz-transform: scale(.8);
	  transform: scale(.8);
	}
  
	50% {
	  opacity: 1;
	  -webkit-transform: scale(1.05);
	  -ms-transform: scale(1.05);
	  -o-transform: scale(1.05);
	  -moz-transform: scale(1.05);
	  transform: scale(1.05);
	}
  
	70% {
	  -webkit-transform: scale(.8);
	  -ms-transform: scale(.8);
	  -o-transform: scale(.8);
	  -moz-transform: scale(.8);
	  transform: scale(.8);
	}
  
	100% {
	  opacity: 1;
	  -webkit-transform: scale(1.05);
	  -ms-transform: scale(1.05);
	  -o-transform: scale(1.05);
	  -moz-transform: scale(1.05);
	  transform: scale(1.05);
	}
  }
.main-nav{
	position: absolute;
    bottom: 10%;
    z-index: 9;
    width: 100%;
    text-align: center;
}
  .main-nav ul{
	padding: 0;
	list-style: none;
	text-align: center;
	width: 57%;
	margin: 0 auto;
  }
  .main-nav ul li{
	width: calc(100%/5 - 30px);
	display: inline-block;
  }
  .main-nav ul li a{
	text-decoration: none;
	display: block;
	padding: 1.5em;
	background-color: rgb(212, 55, 55);
	color: white;
	font-size: 1em;
  }
  .main-nav ul li a.active, .main-nav ul li a:hover{
	background-color:#007b70 !important;
  }
  .main-nav ul li a span{
	  display: block;
	  margin-top: 1em;
  }
  .main-nav ul li i {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    padding: 1em;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    font-size: .9em;
    background: rgba(255, 255, 255, 0.28);
    -webkit-box-shadow: 0 0 0 0 rgba(255,255,255,0.2);
    -moz-box-shadow: 0 0 0 0 rgba(255,255,255,0.2);
    box-shadow: 0 0 0 0 rgba(255,255,255,0.2);
    -webkit-transition: box-shadow .4s ease-in;
    -moz-transition: box-shadow .4s ease-in;
    -o-transition: box-shadow .4s ease-in;
    -ms-transition: box-shadow .4s ease-in;
    transition: box-shadow .4s ease-in;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.main-nav ul li a:hover i,
.main-nav ul li a:active i,
.main-nav ul li a:focus i {		
	-webkit-box-shadow: 0 0 0 30px transparent;
	-moz-box-shadow: 0 0 0 30px transparent; 
	box-shadow: 0 0 0 30px transparent; 
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: box-shadow .6s ease-in-out;
	-moz-transition: box-shadow .6s ease-in-out;
	-o-transition: box-shadow .6s ease-in-out;
	-ms-transition: box-shadow .6s ease-in-out;
	transition: box-shadow .6s ease-in-out; 
} 
.main-content{
	padding: 3em 0;
	background-color:  white;
	box-shadow: 0px 0px 10px 0px #999;
}
.banner-under{
	align-items: center;
	transition: 0.5s;
	display: flex;
}
.banner-under h3{
	font-family: cursive;
}
.banner-under h6{
	font-family: 'Courier New', Courier, monospace;
}
.banner-under .box-round{
	width: 84px;
	height: 68px;
	color: #999;
	font-size: 36px;
	border: 1px solid #999;
	border-radius: 50%;
	padding: 0 0.3em;
	text-align: center;
	margin-right: 1em;
}
.banner-under .box-round i{
	margin-top: 13px;
}
.banner-under:hover .box-round{
	background-color: #039185;
	color: white;
	transition: 0.5s;
}
.main-content1{
	padding: 1em 0;
	text-align: center;
}
.site-title{
	margin-top: 1.5em;
	color: #007b70;
	font-family: cursive;
}
.site-comment{
	font-size: 18px;
	margin-top: 1em;
	color: gray;	
}
.set-site-content{
	margin-top: 1.5em;
}
.set-album-content{
	position: relative;
}
.set-sheet-content{
	position: relative;
}
.hidden-appear{
	display: none;
	position: absolute;
}
.hidden-appear1{
	display: none;
	position: absolute;
}