.img-background{
    background-image: url(../images/login-ERP.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    position: relative;
}
#canvas{ 
	width:100%;
	height:100%;
}
.wishes-login{
  width: 60%;
  padding: 20px;
  border-radius: 15px;

}
.img-login{
  position: absolute;
  top: 10%;
  width: 100%;
}
.form-login{
  position: absolute;
  top: 30%;
  width: 100%;
}

.all-form{
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  padding: 20px 10px;
  background-color: #ffffff2b;
  border-radius: 15px;
}
.set-input{
  border: none;
  background: none;
  outline: none;
  color: white;
  width: 100%;
  border-bottom: 2px solid white;
}
.set-button{
  background-color: #0a7cf5;
  color: white;
  padding: 10px;
  width: 100%;
  outline: none;
  border: none;
}
.title-login{
  align-items: center;

}
.message {
    position: absolute;
    top: 5%;
    left: 20%;
    font-weight: 700;
    font-family: "Clicker Script", cursive;
    font-weight: bold;
    font-size: 6rem;
    color: rgb(245, 59, 59);
    white-space: break-word;
    text-align: center;
    color: transparent;
  }
  
  .breathe:nth-of-type(1) {
    -webkit-animation-delay: 0.125s;
            animation-delay: 0.125s;
    text-shadow: -21px 0 20px;
  }
  
  .breathe:nth-of-type(2) {
    -webkit-animation-delay: 0.25s;
            animation-delay: 0.25s;
    text-shadow: -18px 0 20px;
  }
  
  .breathe:nth-of-type(3) {
    -webkit-animation-delay: 0.375s;
            animation-delay: 0.375s;
    text-shadow: -15px 0 20px;
  }
  
  .breathe:nth-of-type(4) {
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
    text-shadow: -12px 0 20px;
  }
  
  .breathe:nth-of-type(5) {
    -webkit-animation-delay: 0.625s;
            animation-delay: 0.625s;
    text-shadow: -9px 0 20px;
  }
  
  .breathe:nth-of-type(6) {
    -webkit-animation-delay: 0.75s;
            animation-delay: 0.75s;
    text-shadow: -6px 0 20px;
  }
  
  .breathe:nth-of-type(7) {
    -webkit-animation-delay: 0.875s;
            animation-delay: 0.875s;
    text-shadow: -3px 0 20px;
  }
  
  .breathe:nth-of-type(8) {
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
    text-shadow: 0px 0 20px;
  }
  
  .breathe:nth-of-type(9) {
    -webkit-animation-delay: 1.125s;
            animation-delay: 1.125s;
    text-shadow: 3px 0 20px;
  }
  
  .breathe:nth-of-type(10) {
    -webkit-animation-delay: 1.25s;
            animation-delay: 1.25s;
    text-shadow: 6px 0 20px;
  }
  
  .breathe:nth-of-type(11) {
    -webkit-animation-delay: 1.375s;
            animation-delay: 1.375s;
    text-shadow: 9px 0 20px;
  }
  
  .breathe:nth-of-type(12) {
    -webkit-animation-delay: 1.5s;
            animation-delay: 1.5s;
    text-shadow: 12px 0 20px;
  }
  
  .breathe:nth-of-type(13) {
    -webkit-animation-delay: 1.625s;
            animation-delay: 1.625s;
    text-shadow: 15px 0 20px;
  }
  
  .breathe:nth-of-type(14) {
    -webkit-animation-delay: 1.75s;
            animation-delay: 1.75s;
    text-shadow: 18px 0 20px;
  }
  
  .breathe:nth-of-type(15) {
    -webkit-animation-delay: 1.875s;
            animation-delay: 1.875s;
    text-shadow: 21px 0 20px;
  }
  
  .breathe:nth-of-type(16) {
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    text-shadow: 24px 0 20px;
  }
  .breathe:nth-of-type(17) {
    -webkit-animation-delay: 2.125s;
            animation-delay: 2.125s;
    text-shadow: 27px 0 20px;
  }
  
  @-webkit-keyframes breathe {
    12.5% {
      color: #c5252d;
    }
  }
  
  @keyframes breathe {
    12.5% {
      color:#c5252d ;
    }
  }
  .breathe {
    -webkit-animation: breathe 5s ease infinite;
            animation: breathe 5s ease infinite;
  }
  
  .sandeep {
    background: linear-gradient(to top left, red, yellow);
    -webkit-background-clip: text;
    font-size: 3rem;
  }

  @media screen and (max-width: 768px) {
    .breathe {
      font-size: 5rem;
    }
  }